<center>
    <br/>
    <h3>Acciones de los botones</h3>
    <h3>
        <div class="btn btn-md btn btn-success">
            <i class="fa fa-list-ul"></i>
        </div>
        <a class="mytooltip" style="z-index: 2;" href="javascript:void(0)">
            Cotizar
            <span class="tooltip-content3">Genera una cotizacion.</span>
        </a>&nbsp;
        <div class="btn btn-md btn btn-info">
            <i class="fa fa-pencil"></i>
        </div>
        <a class="mytooltip" style="z-index: 2;" href="javascript:void(0)">
            Editar
            <span class="tooltip-content3">Edita datos</span>
        </a>&nbsp;
        <div class="btn btn-md btn btn-danger">
            <i class="fa fa-remove"></i>
        </div>
        <a class="mytooltip" style="z-index: 2;" href="javascript:void(0)">
            Eliminar
            <span class="tooltip-content3">Elimina el seleccionado.</span>
        </a>
    </h3>
</center>
