<center>
  <br />
  <h3>Acciones de los botones</h3>
  <h3>
    <div class="btn btn-md btn btn-success " ><i class="fa fa-arrow-down"></i></div>
    <a class="mytooltip" style="z-index: 2;" href="javascript:void(0)"> Ingresar <span class="tooltip-content3">Ingreso productos al almacen.</span> </a>&nbsp;
    <div class="btn btn-md btn btn-info " ><i class="fa fa-arrow-up"></i></div>
    <a class="mytooltip" style="z-index: 2;" href="javascript:void(0)"> Retirar <span class="tooltip-content3">Retira productos del almacen.</span> </a>&nbsp;
    <div class="btn btn-md btn btn-warning " ><i class="fa fa-arrows"></i></div>
    <a class="mytooltip" style="z-index: 2;" href="javascript:void(0)"> Tranferencia <span class="tooltip-content3">Transfiere productos entre almacenes.</span> </a>&nbsp;
    <div class="btn btn-md btn btn-primary " ><i class="fa fa-list-ul"></i></div>
    <a class="mytooltip" style="z-index: 2;" href="javascript:void(0)"> Movimientos <span class="tooltip-content3">Muestra los movimientos del almacen.</span> </a>
  </h3>
</center>
