<link href="<%= asset_path '/css/impresion.css' %>" rel="stylesheet" type="text/css" />

<div class="row page-titles">
  <div class="col-md-4 col-12 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">

    </h3>
  </div>
  <div class="col-md-4 col-12 align-self-center">

  </div>

  <div class="col-md-4  col-12 align-self-center no-imprime">

    <button class="btn pull-right btn-secondary boton-guarda-cot btn-paraimprimir" onclick="print();">
      <i class="fa fa-print"></i> IMPRIMIR
    </button>
  </div>

</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="clase-impresion" style="width: 800px;">
          <table class="tabla-impresion-cabecera" border="0">
            <tr>
              <td style="width: 150px;">
                <img src="<%= asset_path '/assets/images/logo_emavias.jpg' %>" />
              </td>
              <td style="width: 600px; text-align: center;">

              </td>
            </tr>
          </table>
          <h1 style="text-align: center;">MEMORANDUM</h1>
          <br />
          <table class="tabla" border="0">
            <tr>
              <td style="width: 40%;" text-align=>
                18 Febrero 2018
              </td>
              <td style="width: 60%;">
                GAF - CC CITE N. 95/2018
                <br />
                <br />Para: Lic, Elizabeth Brouset Ponce
                <br /><b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Responsable de Almacenes y Servicios Generales</b>

                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ing. Eliot Gutierrez Valencia
                <br /><b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Tecnico en tecnologias de la informacion</b>
                <br />
                <br />De: Lic, Elizabeth Brouset Ponce
                <br /><b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Responsable de Procesos de Contratacion de Apoyo a la Produccion Nacional </b>
                <br />
                <br /><b>Ref: Designacion de Calificacion </b>

              </td>
            </tr>
          </table>
          <hr />
          De mi consideracion:
          Por la presente y en cumplimiento a lo establecido en el art. 34 del Decreto Supremo 0181
          Normas Basicas del Sistema de Administracion de Bienes y Servicios, comunico a ustedes 
          que han sido deesignados integrantes de la Comision de Calificacion para el proceso de contratacion
          <b>ANPE-05/2019 "SERVICIO DE TRANSPORTE DE PERSONAL RUTA III RECURRENTE 2019" Segunda Convocatoria,</b>
          para cuyo efecto y de acuerdo a lo establecido en el Art. 38 del D.S. 0181 tendran las siguientes funciones
          <ol>
            <li>Realizar la Apertura de propuestas</li>
            <li>Evaluacion y calificacion de las propuestas tecnicas y economicas</li>
            <li>Elaborar el informe de evaluacion y recomendacion de Adjudicacion o Declaratoria Desierta</li>
          </ol>
          Segun el cronograma del proceso, deberan contituirse en la Unidad Administrativa, para la 
          apertura de propuestas el dia viernes 14 de Diciembre de 2018 a horas 15:00 p.m. debiendo cumplir las responsabilidades
          con dedicacion exclusiva, no pudiendo delegar sus funciones, ni exclusarse de participar salvo los casos descritos en
          la norma vigente.
          El incumplimiento a los plazos senalados en el DBC, sera considerada como inobservancia a la normativa, por lo que deben 
          presentar el informe respectivo hasta la fecha establecida.
          Es cuanto  les comunico para fines consiguientes.
      </div>
    </div>
  </div>
</div>